ACTIVIDAD 2.1 CLASE

In [ ]:
##INSTALAR LIBRERIAS
!pip install pandas
!pip install numpy
!pip install matplotlib
!pip install seaborn
!pip install openpyxl

In [2]:
#Importamos librerías requeridas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
#Convertir en dataframe
df_csv= pd.read_csv("Datos_Facturación.csv")
df_csv

,Unnamed: 0,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
0,0,F29414,2465.0,C,1.0,2019-09-03 08:58:42.000,2019-09-03,2019-09-03 00:00:00,2019-09-18,2019-09-04,3980.00,0.0,0.0
1,1,F29415,3926.0,C,1.0,2019-09-03 09:55:14.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
2,2,F29416,3926.0,C,1.0,2019-09-03 13:25:33.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
3,3,F29417,3926.0,C,1.0,2019-09-03 13:33:23.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-17,1550.00,0.0,0.0
4,4,F29418,6813.0,C,2.0,2019-09-03 14:23:45.000,2019-09-03,2019-09-03 00:00:00,2019-09-03,2019-09-10,2435.44,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10890,10890,F40306,8842.0,E,2.0,2023-03-06 16:09:39.013,2023-03-06,2023-03-01 00:00:00,2023-03-06,NaN,3272.00,0.0,0.0
10891,10891,F40307,6218.0,NaN,2.0,2023-03-06 16:38:42.933,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaN,504.15,0.0,0.0
10892,10892,NaN,5926.0,E,2.0,2023-03-06 17:02:33.390,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaN,275.68,0.0,0.0
10893,10893,F40309,361.0,E,2.0,2023-03-07 12:43:49.567,2023-03-07,2023-03-07 00:00:00,2023-03-07,NaN,129.30,0.0,0.0
10894,10894,F40310,3011.0,E,2.0,2023-03-07 12:45:58.407,2023-03-07,2023-03-01 00:00:00,2023-03-07,NaN,517.20,0.0,0.0

In [6]:
df_csv.head

<bound method NDFrame.head of        Unnamed: 0 CVE_DOC  CVE_CLPV STATUS  CVE_VEND                FECHAELAB  \
0               0  F29414    2465.0      C       1.0  2019-09-03 08:58:42.000
1               1  F29415    3926.0      C       1.0  2019-09-03 09:55:14.000
2               2  F29416    3926.0      C       1.0  2019-09-03 13:25:33.000
3               3  F29417    3926.0      C       1.0  2019-09-03 13:33:23.000
4               4  F29418    6813.0      C       2.0  2019-09-03 14:23:45.000
...           ...     ...       ...    ...       ...                      ...
10890       10890  F40306    8842.0      E       2.0  2023-03-06 16:09:39.013
10891       10891  F40307    6218.0    NaN       2.0  2023-03-06 16:38:42.933
10892       10892     NaN    5926.0      E       2.0  2023-03-06 17:02:33.390
10893       10893  F40309     361.0      E       2.0  2023-03-07 12:43:49.567
10894       10894  F40310    3011.0      E       2.0  2023-03-07 12:45:58.407

        FECHA_DOC            FECHA_ENT   FECHA_VEN FECHA_CANCELA  CAN_TOT  \
0      2019-09-03  2019-09-03 00:00:00  2019-09-18    2019-09-04  3980.00
1      2019-09-03  2019-09-03 00:00:00  2019-10-03    2019-09-03  1550.00
2      2019-09-03  2019-09-03 00:00:00  2019-10-03    2019-09-03  1550.00
3      2019-09-03  2019-09-03 00:00:00  2019-10-03    2019-09-17  1550.00
4      2019-09-03  2019-09-03 00:00:00  2019-09-03    2019-09-10  2435.44
...           ...                  ...         ...           ...      ...
10890  2023-03-06  2023-03-01 00:00:00  2023-03-06           NaN  3272.00
10891  2023-03-06  2023-03-06 00:00:00  2023-03-06           NaN   504.15
10892  2023-03-06  2023-03-06 00:00:00  2023-03-06           NaN   275.68
10893  2023-03-07  2023-03-07 00:00:00  2023-03-07           NaN   129.30
10894  2023-03-07  2023-03-01 00:00:00  2023-03-07           NaN   517.20

       DES_TOT  DES_FIN
0          0.0      0.0
1          0.0      0.0
2          0.0      0.0
3          0.0      0.0
4          0.0      0.0
...        ...      ...
10890      0.0      0.0
10891      0.0      0.0
10892      0.0      0.0
10893      0.0      0.0
10894      0.0      0.0

[10895 rows x 13 columns]>

In [7]:
#Verificamos información del DataFrame
df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10895 entries, 0 to 10894
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     10895 non-null  int64
 1   CVE_DOC        10890 non-null  object
 2   CVE_CLPV       10895 non-null  float64
 3   STATUS         10886 non-null  object
 4   CVE_VEND       10847 non-null  float64
 5   FECHAELAB      10893 non-null  object
 6   FECHA_DOC      10894 non-null  object
 7   FECHA_ENT      10893 non-null  object
 8   FECHA_VEN      10895 non-null  object
 9   FECHA_CANCELA  358 non-null    object
 10  CAN_TOT        10889 non-null  float64
 11  DES_TOT        10894 non-null  float64
 12  DES_FIN        10892 non-null  float64
dtypes: float64(5), int64(1), object(7)
memory usage: 1.1+ MB

In [ ]:
#CONVERSION DE TIPO DE DATO DE COLIMNA DE TIPO OBJECT A FLOAT
df["CVE_CLPV"] = df["CVE_CLPV"].astype(float)

In [9]:
#CVE-CLPV  (VALORES 1000 A 2000)
filtro=df_csv[(df_csv["CVE_CLPV"] > 1000) & (df_csv["CVE_CLPV"] < 2000)]
filtro

,Unnamed: 0,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
18,18,F29432,1965.0,C,2.0,2019-09-05 11:05:04.000,2019-09-05,2019-09-05 00:00:00,2019-09-20,2019-09-06,976.50,0.00,0.0
22,22,F29436,1965.0,C,2.0,2019-09-06 12:01:36.000,2019-09-06,2019-09-06 00:00:00,2019-09-21,2019-09-12,976.50,0.00,0.0
65,65,F29479,1240.0,E,2.0,2019-09-11 18:38:45.000,2019-09-11,2019-09-11 00:00:00,2019-09-11,NaN,4135.00,0.00,0.0
71,71,F29485,1965.0,C,2.0,2019-09-12 12:14:28.000,2019-09-12,2019-09-12 00:00:00,2019-09-27,2019-09-12,976.50,146.48,0.0
72,72,F29486,1965.0,E,2.0,2019-09-12 12:25:52.000,2019-09-12,2019-09-12 00:00:00,2019-09-27,NaN,976.50,146.48,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10821,10821,F40237,1757.0,E,2.0,2023-02-24 15:18:17.570,2023-02-24,2023-02-13 00:00:00,2023-02-24,NaN,10088.40,0.00,0.0
10839,10839,F40255,1583.0,E,2.0,2023-02-28 09:15:45.753,2023-02-28,2023-02-28 00:00:00,2023-03-30,NaN,3467.35,0.00,0.0
10845,10845,F40261,1786.0,E,2.0,2023-02-28 11:15:32.527,2023-02-28,2023-03-03 00:00:00,2023-02-28,NaN,4663.80,0.00,0.0
10871,10871,F40287,1453.0,E,1.0,2023-03-01 12:58:23.397,2023-03-01,2023-02-27 00:00:00,2023-03-31,NaN,9000.00,0.00,0.0
10876,10876,F40292,1082.0,E,6.0,2023-03-02 11:00:54.770,2023-03-02,2023-03-01 00:00:00,2023-03-02,NaN,3262.00,0.00,0.0

In [17]:
min(filtro["CVE_CLPV"])
max(filtro["CVE_CLPV"])

1982.0

In [24]:
#REVISIÓN DE DATAFRAME
filtro1=filtro.groupby(["CVE_CLPV"])["CVE_CLPV"].count()
filtro1

CVE_CLPV
1016.0    27
1019.0     5
1020.0    13
1053.0    17
1082.0     1
          ..
1943.0    10
1955.0     2
1965.0    90
1967.0     2
1982.0     3
Name: CVE_CLPV, Length: 65, dtype: int64

In [18]:
#CVE_VEND (TODAS LAS CLAVES EXCEPTO 5 Y 4 )
filtro2=df_csv[(df_csv["CVE_VEND"] == 5) & ~  (df_csv["CVE_VEND"] == 4)]
filtro2

,Unnamed: 0,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
58,58,F29472,2385.0,E,5.0,2019-09-11 14:33:39.000,2019-09-11,2019-09-11 00:00:00,2019-10-11,NaN,1500.0000,0.0,0.0
59,59,F29473,2385.0,E,5.0,2019-09-11 14:52:52.000,2019-09-11,2019-09-11 00:00:00,2019-10-11,NaN,24000.0000,0.0,0.0
225,225,F29639,251.0,C,5.0,2019-09-25 09:09:58.000,2019-09-25,2019-09-25 00:00:00,2019-10-25,2019-09-26,1250.0000,0.0,0.0
249,249,F29663,251.0,E,5.0,2019-09-26 15:28:26.000,2019-09-26,2019-09-26 00:00:00,2019-10-26,NaN,1250.0000,0.0,0.0
292,292,F29706,2325.0,E,5.0,2019-09-30 17:55:46.000,2019-09-30,2019-09-30 00:00:00,2019-09-30,NaN,6737.1982,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7400,7400,F36816,8532.0,E,5.0,2021-11-30 16:22:47.977,2021-11-30,2021-11-30 00:00:00,2021-11-30,NaN,4500.0000,0.0,0.0
7790,7790,F37206,5851.0,E,5.0,2022-01-27 10:51:56.160,2022-01-27,2022-01-27 00:00:00,2022-01-27,NaN,280.0000,0.0,0.0
7823,7823,F37239,8235.0,E,5.0,2022-01-31 15:39:45.677,2022-01-31,2022-01-31 00:00:00,2022-01-31,NaN,2391.6896,0.0,0.0
9344,9344,F38760,8219.0,E,5.0,2022-08-08 13:03:00.337,2022-08-08,2022-08-08 00:00:00,2022-08-08,NaN,1488.0000,0.0,0.0
10860,10860,F40276,8849.0,E,5.0,2023-02-28 17:51:17.097,2023-02-28,2023-02-21 00:00:00,2023-02-28,NaN,769.0000,0.0,0.0

In [ ]:
#REVISION DE DATAFRAME
filtro3=filtro2.groupby(["CVE_VEND"])["CVE_VEND"].count()
filtro3

CVE_VEND
5.0    423
Name: CVE_VEND, dtype: int64

In [38]:
#FECHA_ENT (FECHAS "28/02/2022" )
filtro4=df_csv[(df_csv["FECHA_ENT"] == "2022-02-28 00:00:00")]
filtro4

,Unnamed: 0,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
8077,8077,F37493,4598.0,E,1.0,2022-02-28 10:56:02.460,2022-02-28,2022-02-28 00:00:00,2022-03-30,NaN,44259.0000,0.0,0.0
8078,8078,F37494,1943.0,C,2.0,2022-02-28 11:34:00.367,2022-02-28,2022-02-28 00:00:00,2022-02-28,2022-02-28,89.6800,0.0,0.0
8081,8081,F37497,1943.0,C,2.0,2022-02-28 12:05:42.377,2022-02-28,2022-02-28 00:00:00,2022-02-28,2022-02-28,89.6800,0.0,0.0
8083,8083,F37499,8573.0,E,2.0,2022-02-28 12:25:29.833,2022-02-28,2022-02-28 00:00:00,2022-02-28,NaN,997.5400,0.0,0.0
8084,8084,F37500,8249.0,E,2.0,2022-02-28 12:32:46.687,2022-02-28,2022-02-28 00:00:00,2022-02-28,NaN,2508.7000,0.0,0.0
8090,8090,F37506,1757.0,E,2.0,2022-02-28 13:23:45.440,2022-02-28,2022-02-28 00:00:00,2022-02-28,NaN,2586.2100,0.0,0.0
8091,8091,F37507,3108.0,E,2.0,2022-02-28 13:52:43.383,2022-02-28,2022-02-28 00:00:00,2022-02-28,NaN,675.4000,0.0,0.0
8092,8092,F37508,6232.0,E,2.0,2022-02-28 14:46:56.940,2022-02-28,2022-02-28 00:00:00,2022-02-28,NaN,941.3965,0.0,0.0
8095,8095,F37511,8593.0,E,2.0,2022-02-28 15:20:58.040,2022-02-28,2022-02-28 00:00:00,2022-02-28,NaN,218.9700,0.0,0.0
8096,8096,F37512,4766.0,E,2.0,2022-02-28 15:54:16.277,2022-02-28,2022-02-28 00:00:00,2022-02-28,NaN,9450.0000,0.0,0.0
8100,8100,F37516,6179.0,E,3.0,2022-02-28 16:33:54.413,2022-02-28,2022-02-28 00:00:00,2022-02-28,NaN,5951.7000,0.0,0.0
8103,8103,F37519,5150.0,E,3.0,2022-02-28 17:09:39.213,2022-02-28,2022-02-28 00:00:00,2022-02-28,NaN,2040.0000,0.0,0.0
8104,8104,F37520,4527.0,E,2.0,2022-02-28 17:14:57.487,2022-02-28,2022-02-28 00:00:00,2022-02-28,NaN,4315.0000,0.0,0.0
8107,8107,F37523,5926.0,E,2.0,2022-02-28 17:36:54.363,2022-02-28,2022-02-28 00:00:00,2022-02-28,NaN,451.6100,0.0,0.0
8133,8133,F37549,3016.0,E,1.0,2022-03-04 15:08:49.747,2022-03-04,2022-02-28 00:00:00,2022-03-04,NaN,1083.7200,0.0,0.0
8148,8148,F37564,4695.0,E,1.0,2022-03-08 09:15:20.507,2022-03-08,2022-02-28 00:00:00,2022-05-07,NaN,5515.0000,0.0,0.0
8204,8204,F37620,8316.0,E,3.0,2022-03-14 17:00:43.247,2022-03-14,2022-02-28 00:00:00,2022-03-14,NaN,24570.3000,0.0,0.0

In [26]:
#CAN_TOT (CANTIDAD MENORES  5951.7) o status ("e")
filtro5=df_csv[(df_csv["CAN_TOT"] < 5951.7) | (df_csv["STATUS"] == "e")]
filtro5

,Unnamed: 0,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
0,0,F29414,2465.0,C,1.0,2019-09-03 08:58:42.000,2019-09-03,2019-09-03 00:00:00,2019-09-18,2019-09-04,3980.00,0.0,0.0
1,1,F29415,3926.0,C,1.0,2019-09-03 09:55:14.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
2,2,F29416,3926.0,C,1.0,2019-09-03 13:25:33.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
3,3,F29417,3926.0,C,1.0,2019-09-03 13:33:23.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-17,1550.00,0.0,0.0
4,4,F29418,6813.0,C,2.0,2019-09-03 14:23:45.000,2019-09-03,2019-09-03 00:00:00,2019-09-03,2019-09-10,2435.44,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10890,10890,F40306,8842.0,E,2.0,2023-03-06 16:09:39.013,2023-03-06,2023-03-01 00:00:00,2023-03-06,NaN,3272.00,0.0,0.0
10891,10891,F40307,6218.0,NaN,2.0,2023-03-06 16:38:42.933,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaN,504.15,0.0,0.0
10892,10892,NaN,5926.0,E,2.0,2023-03-06 17:02:33.390,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaN,275.68,0.0,0.0
10893,10893,F40309,361.0,E,2.0,2023-03-07 12:43:49.567,2023-03-07,2023-03-07 00:00:00,2023-03-07,NaN,129.30,0.0,0.0
10894,10894,F40310,3011.0,E,2.0,2023-03-07 12:45:58.407,2023-03-07,2023-03-01 00:00:00,2023-03-07,NaN,517.20,0.0,0.0

In [28]:
#SOLO COLUMNAS : CVE_DOC, FECHA_ENT, FECHA_VEN Y CAN_TOT
filtro6=df_csv[["CVE_DOC", "FECHA_ENT", "FECHA_VEN", "CAN_TOT"]]
filtro6

      CVE_DOC            FECHA_ENT   FECHA_VEN  CAN_TOT
0      F29414  2019-09-03 00:00:00  2019-09-18  3980.00
1      F29415  2019-09-03 00:00:00  2019-10-03  1550.00
2      F29416  2019-09-03 00:00:00  2019-10-03  1550.00
3      F29417  2019-09-03 00:00:00  2019-10-03  1550.00
4      F29418  2019-09-03 00:00:00  2019-09-03  2435.44
...       ...                  ...         ...      ...
10890  F40306  2023-03-01 00:00:00  2023-03-06  3272.00
10891  F40307  2023-03-06 00:00:00  2023-03-06   504.15
10892     NaN  2023-03-06 00:00:00  2023-03-06   275.68
10893  F40309  2023-03-07 00:00:00  2023-03-07   129.30
10894  F40310  2023-03-01 00:00:00  2023-03-07   517.20

[10895 rows x 4 columns]

In [29]:
#SOLO LAS FILAS DE 7001-7099
filtro7=df_csv.iloc[7000:7100, :]
filtro7

,Unnamed: 0,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
7000,7000,F36416,3930.0,E,1.0,2021-10-15 08:19:30.557,2021-10-15,2021-10-19 00:00:00,2021-11-14,NaN,28305.00,0.0,0.0
7001,7001,F36417,5271.0,E,3.0,2021-10-15 08:40:29.183,2021-10-15,2021-10-06 00:00:00,2021-11-14,NaN,8555.24,0.0,0.0
7002,7002,F36418,5746.0,E,2.0,2021-10-15 08:51:03.463,2021-10-15,2021-10-14 00:00:00,2021-10-15,NaN,620.77,0.0,0.0
7003,7003,F36419,2163.0,E,3.0,2021-10-15 08:56:23.280,2021-10-15,2021-10-15 00:00:00,2021-10-15,NaN,560.00,0.0,0.0
7004,7004,F36420,1429.0,E,1.0,2021-10-15 09:01:08.393,2021-10-15,2021-10-15 00:00:00,2021-12-14,NaN,23625.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7095,7095,F36511,4480.0,E,2.0,2021-10-27 13:07:43.223,2021-10-27,2021-10-27 00:00:00,2021-11-11,NaN,1137.50,0.0,0.0
7096,7096,F36512,8186.0,E,2.0,2021-10-27 13:22:23.980,2021-10-27,2021-10-27 00:00:00,2021-10-27,NaN,94.84,0.0,0.0
7097,7097,F36513,4403.0,E,2.0,2021-10-27 13:35:40.677,2021-10-27,2021-10-27 00:00:00,2021-10-27,NaN,847.00,0.0,0.0
7098,7098,F36514,5589.0,E,2.0,2021-10-27 14:02:54.630,2021-10-27,2021-10-27 00:00:00,2021-10-27,NaN,965.00,0.0,0.0
7099,7099,F36515,5589.0,E,2.0,2021-10-27 14:04:26.797,2021-10-27,2021-10-26 00:00:00,2021-10-27,NaN,2106.00,0.0,0.0

In [33]:
#INDEX= CVE_VEND (VALORES:1,2) (COLUMNAS:FECHAELAB)
df1=pd.read_csv("Datos_Facturación.csv", index_col=4)
filtro8=df1.loc[[1,2], ["FECHAELAB"]]
filtro8

                        FECHAELAB
CVE_VEND
1.0       2019-09-03 08:58:42.000
1.0       2019-09-03 09:55:14.000
1.0       2019-09-03 13:25:33.000
1.0       2019-09-03 13:33:23.000
1.0       2019-09-04 09:15:12.000
...                           ...
2.0       2023-03-06 16:09:39.013
2.0       2023-03-06 16:38:42.933
2.0       2023-03-06 17:02:33.390
2.0       2023-03-07 12:43:49.567
2.0       2023-03-07 12:45:58.407

[8665 rows x 1 columns]

In [34]:
#REVISIÓN DE DATAFRAME
filtro9=filtro8.groupby(["CVE_VEND"])["FECHAELAB"].count()
filtro9

CVE_VEND
1.0     959
2.0    7704
Name: FECHAELAB, dtype: int64

In [43]:
#Convertir archivo filtrado a CSV
filtro.to_csv("ACt2.1.csv")
filtro2.to_csv("ACt2_1.csv")
filtro4.to_csv("ACt2.1clase.csv")
filtro6.to_csv("ACt2.1cl.csv")
filtro7.to_csv("ACt.2.1.csv")
filtro8.to_csv("ACt_2.1csv")